{% extends 'store/main.html' %}

{% load static %}

{% block content %}

<div class="row" style="margin-left: 4px;">
    <form class="form-inline my-2 my-lg-0">
        <input 
        class="form-control mr-sm-2" 
        type="search" 
        placeholder="Search..." 
        aria-label="Search"
        name="search"
        value="{{search_term}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<hr>
<div class="row">
    
    {% for product in products %}

    <div class="col-lg-4">
        <img class="thumbnail" src="{{ product.image }}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <p style="font-size: small;">{{product.author}}</p>
            <hr>
            <button  id="add-to-cart" data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <!-- <a class="btn btn-outline-success" href="#">View</a> -->
            <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
        </div>
    </div>

    {% endfor %}

</div>
<hr>
<div>
    {% if products.has_other_pages %}
        <ul class="pagination justify-content-end">
            {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;Previous</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;Previous</span></li>
            {% endif %}
            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="active page-item page-link"><strong><span>{{ i }}<span class="sr-only">(current)</span></span></strong></li>
                {% elif i > products.number|add:'-3' and i < products.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <li class="page-item"><a class="page-link"  href="?page={{ products.next_page_number }}">Next&raquo;</a></li>
                <li class="page-item"><a class="page-link"  href="?page={{ products.paginator.num_pages }}">Last&raquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">Next&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
</div>

<!-- <script type="text/javascript">
    document.getElementById('add-to-cart').addEventListener('click', function(){
        alert('Item added to cart!');
    })
</script> -->

{% endblock content %}
